!!!
%html
  %head
    %link{href: 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel: 'stylesheet'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js', type: 'text/javascript'}
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js', type: 'text/javascript'}
  %body
    %h1 Kyoodos
    %ul.kyoodos
    :javascript
      WAIT_TIME = 3000;
      ROTATE_SIZE = 5;
      $shoutouts = [];
      shouting = 0;

      function parse(k) {
        // TODO parse kyoodo
        // * message <@U2323EWE|username> to <b>@username</b>
        // * sender: sender object to a <img class="sender">
        // * receivers: receivers array to <img class="receiver">s
        return k;
      }

      function updateList() {
        render = function (kyoodos) {
          console.log('updating...');
          $ul = $('.kyoodos');
          $ul.clear(); $shoutouts = []; shouting = 0;

          kyoodos.forEach(function(kyoodo) {
            var k = parse(kyoodo);
            $li = $ul.append('<li />');
            $li.append($('<p class="message"/>').text(k.message));
            $li.append(k.sender);
            k.receivers.forEach(function (rec) {
              $li.append(rec);
            })

            if ($shoutouts.length < ROTATE_SIZE) {
              $shoutouts.push($li);
            }
          })
        }

        var lastCreated;
        var run = function () {
          $.get('/api/kyoodos/lastCreated', function(timestamp) {
            console.log('lastCreated:', timestamp);
            if (timestamp == lastCreated) {
              wait();
            } else {
              $.get('/api/kyoodos', render).then(wait);
            }
          })
        }

        var wait = function () {
          setTimeout(run, WAIT_TIME);
        }

        run();
      }

      function shoutout() {
        var $li = $shoutouts[shouting];
        if ($li) {
          $li.animate({width: '200%'}).animate({width: '100%'}).then(shoutout)
        } else {
          setTimeout(shoutout, WAIT_TIME)
        }
      }

      $(function() {
        updateList();
        shoutout();
      })
