%html
  %head
    %meta{charset: "UTF-8"}
    %link{rel: 'stylesheet', type: 'text/css', href:"https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex.css"}
  %link{rel: 'stylesheet', type: 'text/css', href:"application.css"}
    %title Kyoodos
  %body
    #root
    %script{src: "bundle.js"}
