!!!
%html
  %head
    %link{href: 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel: 'stylesheet'}
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js', type: 'text/javascript'}
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js', type: 'text/javascript'}
  %body
    %h1 Kyoodos
    %ul.kyoodos
    :javascript
      WAIT_TIME = 3000;
      $(function() {
        updateList = function (kyoodos) {
          console.log('updating...');
          $ul = $('.kyoodos');
          $ul.clear();
          kyoodos.forEach(function(k) {
            $li = $ul.add('<li />');
          })
        }

        var lastCreated;
        var run = function () {
          $.get('/api/kyoodos/lastCreated', function(timestamp) {
            console.log('lastCreated:', timestamp);
            if (timestamp == lastCreated) {
              wait();
            } else {
              $.get('/api/kyoodos', updateList).then(wait);
            }
          })
        }

        var wait = function () {
          setTimeout(run, WAIT_TIME);
        }

        run();
      })
