h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
}
.page-header {
  text-align: center;
}
.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
}
.emoji-inner {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.avatar{
  display: inline-block;
  height: 2em;
  width: 2em;
}

.message {
  margin-left: 2em;
}
ul.kyoodos {
  margin: 0 auto;
  position: fixed;
}
ul.kyoodos li {
  margin: 10px;
  list-style: none;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;  
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  float: left;
}
